 h1{
            text-align: center;
            font-size:30px;
        }

        .first{
            text-align:center;
            border:groove;
            width:650px;
            font-size: 35px;
            padding:8px;
            background-color:white;
            color:black;
            opacity: 95%;
        }

        .second{
            text-align:center;
            border:none;
            width:650px;
            margin-left: -10px;
            font-size: 35px;
            padding:8px;
        }

        p{
            font-size: 35px;
        }
        
        button{
            font-size: 30px;
            background-color: burlywood;
        }
        
        body{
            background-image: url('country.jpg');
        }